.DefenseMap {
  border-radius: 100%;
  border: 5px solid #1d5388;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  height: 300px;
  width: 300px;
  .center {
    top: calc(50% - 20px);
    right: calc(50% - 26px);
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
  }
  > button {
    background: transparent;
    border: 0px solid black;
    height: 0px;
    position: absolute;
    width: 0px;
    &:before {
      color: #fff;
      left: calc(50% - 25px);
      position: absolute;
      text-align: center;
      width: 50px;
    }
    &.aft {
      border-bottom: 125px solid #3088e2;
      border-left: 125px solid transparent;
      border-right: 125px solid transparent;
      bottom: -8px;
      left: 0px;
      width: 100%;
      &:before {
        bottom: -65px;
        content: 'Aft';
      }
      .IncrementWidget {
        left: calc(50% - 50px);
        bottom: -90px;
      }
    }
    &.fore {
      border-top: 125px solid #3088e2;
      border-left: 125px solid transparent;
      border-right: 125px solid transparent;
      top: -4px;
      width: 100%;
      &:before {
        content: 'Forward';
        top: -70px;
      }
      .IncrementWidget {
        left: calc(50% - 50px);
        top: -50px;
      }
    }
    &.port {
      border-bottom: 125px solid transparent;
      border-left: 125px solid #3088e2;
      border-top: 125px solid transparent;
      height: 296px;
      left: -4px;
      top: -1px;
      &:before {
        content: 'Port';
        left: -82px;
      }
      .IncrementWidget {
        left: -108px;
        top: 42px;
      }
    }
    &.starboard {
      border-bottom: 125px solid transparent;
      border-right: 125px solid #3088e2;
      border-top: 125px solid transparent;
      height: 296px;
      right: -4px;
      top: -1px;
      &:before {
        content: 'Starboard';
        left: 43px;
      }
      .IncrementWidget {
        right: -108px;
        top: 42px;
      }
    }
    .IncrementWidget {
      color: #fff;
      font-weight: bold;
      width: 100px;
      position: absolute;
    }
  }
}
