div.RollResults {
  .swDice {
    font-family: 'eote_symbolregular';
  }
  .critNum {
    background: #e0e1e2;
    border: 1px solid #b3b3b3;
    border-bottom: 0;
    border-top: 0;
    padding: 10px;
  }
}
div.Result.Segment {
  span {
    font-family: 'eote_symbolregular';
    &.selected {
      color: #c9c9c9;
    }
  }
}
