@font-face {
  font-family: 'eote_symbolregular';
  src: url('fonts/eote_symbol-regular_v1-webfont.woff2') format('woff2'),
    url('fonts/eote_symbol-regular_v1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.App {
  text-align: center;
  padding: 8px;
}
.envFlag {
  background: #deddff;
  right: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
}
